@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image:linear-gradient(to right,#e5c1eb,#a49dcb)
}

/* hide scrollbar default style */
.hide-scrollbar::-webkit-scrollbar{
    display:none;
}

/* custom arrow for select tag */
.form-select{
    background-image: url('../public/dropdown_arrow.png');
    background-size: 1rem;
    background-position: right 1rem center;
}

/* Background darken when modal pops up */
.modal-backdrop{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.8);
}